---
import BaseLayout from "../layouts/BaseLayout.astro";
import SearchBooks from "@/components/search/SearchBooks";
---

<BaseLayout>
	<h1 class="text-3xl font-bold">Search for a books</h1>
	<SearchBooks client:load />
</BaseLayout>

