---
import BooksClient from "@/components/books/BooksClient";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { ProcessedBook } from '@/types/book';
import { BooksTable, db } from "astro:db";

const books = await db.select().from(BooksTable) as unknown as ProcessedBook[]
---

<BaseLayout>
	<h1 class="text-3xl font-bold">Search for a books</h1>
	<BooksClient books={books} client:load />
</BaseLayout>

